{% extends 'store/base.html' %}


{% block content %}
<header class="px-6 py-10 lg:py-20 bg-black">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">
             Welcome to the MARKET | PLACE </p>
    
        <p class="mb-10 text-white">
             You can buy everything
        </p>
        <a href="{% url 'store' %}" class="inline-block px-8 py-4 rounded-xl bg-white text-black hover:bg-gray-200">
           START SHOPPING
        </a>
    </div>

</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        {% for product in products%}
        <div class="w-full md:w-1/3 xl:w-1/4 p-6 rounded-xl">
            <a href="#">
                <img src="{{ product.image.url }}" class="rounded-xl hover:shadow-lg">
            </a>
        
            <div class="pt-3 flex items-center justify-between">
                <a href="#">{{ product.name }}</a>
        
                <button data-product={{product.id}} data-action="add"
                    class="text-black-500 hover:text-gray-700 update-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </button>
            </div>
        
            <p class="pt-1 text-gray-400">Rs: {{ product.price }}</p>
        </div>
        {% endfor %}
       
    </div>
</div>

{% endblock %}